body{
	font-family: 'Montserrat', sans-serif;
}

body h1{
  font-family: 'Poller One', cursive;
}

#header-container, #info-container{
  background: #99C84A;
  color: #f2f2f2;
  font-weight: 700;
}

#header-container a{
	color: #f2f2f2;
	text-decoration: none;
}

#header-container a:hover{
	color: #f2f2f2;
}

#menu-container{
  background: #F7F7F9;
}

.btn.btn-busqueda{
  background: #99C84A;
  color: #f2f2f2;
}

.btn.btn-busqueda:hover{
  background: #8AB542;
  color: #f2f2f2;
}

input.form-control:focus{
  border-color: #99C84A;
  box-shadow: none;
}

#info-container h4{
  margin: 1em 0;
}

#info-container img{
  margin-top: 1em;
}

#footer-container{
  background: #1c3643;
  color: #f2f2f2;
  padding: 3em 0;
}

#footer-container h4,
#footer-container .nav-link{
  font-weight: bolder;
  font-size: 16px;
}

#footer-container .nav-link{
  color: white;
  padding: .1em 0;
}


/* .row{
  border: 1px solid red;
}

.row div{
  border: 1px solid blue;
}
 */