body{
	font-family: 'Montserrat', sans-serif;
}

body h1{
  font-family: 'Poller One', cursive;
}

#header-container{
  background: #020202;
  color: #f2f2f2;
  font-weight: 700;
}

#header-container a{
	color: #FF1111;
	text-decoration: none;
}

#header-container a:hover{
	color: #f2f2f2;
}

#menu-container{
  background: #f7f7f9;
}

.btn.btn-busqueda{
  background: #020202;
  color: #f2f2f2;
}

.btn.btn-busqueda:hover{
  background: #FF1111;
  color: #f2f2f2;
}

input.form-control:focus{
  border-color: #020202;
  box-shadow: none;
}


/* .row{
  border: 1px solid red;
}

.row div{
  border: 1px solid blue;
}
 */